@{
    ViewBag.Title = "Home Page";
}

<div class="SuperHero">
    <h1>SuperHeroes</h1>
    <p class="lead">Super Heroes are great!</p>
    <p><a href="https://www.marvel.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>You can create your own heroes!</h2>
        <p>
            Simply click the "create" button and enter the information you want to include in your very own Super Hero!
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Edit existing Super Heroes</h2>
        <p>By clicking the "edit" link from the list of heroes, you can make changes to the Super Hero of your choice.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Delete Super Heroes</h2>
        <p>When a Super Hero needs to be removed completely from the list, there is the option to delete.</p>
        <p></p>
    </div>
</div>